@import './variables';
@import './daterangepicker';
@import './custom';

.form-group{
    width: 100%;
    .table{
        th,td{vertical-align: middle;border-top: 0px;}
        th.lable{
            width: 180px;
        }
        td{
            .form-control{
                width: 25em;
            }
        }
    }
}

.btn{
    padding: .185rem .75rem;
}